{% extends 'base_page.html' %}

{% block page_title %}Contact - Tianming Han's Developer Portfolio{% endblock %}

{% block content %}
    <main>
        <h2>Get in Touch</h2>
        <p>If you have any question regarding employment, my resume or website, feel free to contact me. Below are my contact information: </p>
        <ul>
            <li>Phone: +1(587)-566-9178</li>
            <li>Email (school): t42han@uwaterloo.ca</li>
            <li>LinkedIn: https://www.linkedin.com/in/tianming-han-768483237/</li>
            <li>GitHub: https://github.com/Karl5766</li>
        </ul>
        <p>Other information:</p>
        <ul>
            <li>Current Location: Waterloo, ON (willing to relocate within Canada/US)</li>
            <li>Status: Graduate student</li>
            <li>Preferred Starting Date: May 2025 after graduating from master's.</li>
        </ul>
    </main>
{% endblock %}