{% extends 'base_page.html' %}

{% block page_title %}Home - Tianming Han's Developer Portfolio{% endblock %}

{% block content %}
    <main>
        <h2>Biography</h2>
        <p>I am a passionate software developer with skills focus on image processing, databases and programming languages.</p>
        <p>Having completed my 8-month co-op at Robart's as a research assistant, I'm currently looking for work starting in May, 2025.</p>
        <h3>What I Have</h3>
        <ul>
            <li>Project experiences in app development, computer vision, and biological image processing (see <a href="/projects/">Projects</a> tab)</li>
            <li>Strong foundations in computer science and a will to learn and adapt to new technologies</li>
            <li>Hands-on practice in data processing, distributed computing, dataset annotation, and open-source development through my research</li>
        </ul>
        <h3>Education</h3>
        <ul>
            <li>University of Alberta (2019-2023) - Bachelor's in Computer Science</li>
            <li>University of Waterloo (2023-2025) - Master's in Data Science and Artificial Intelligence</li>
        </ul>
        <h3>Volunteer & Work</h3>
        <ul>
            <li><strong>Work 1:</strong> Cell Segmentation with nn-UNet (Setup VM to train UNet on school's server cluster)</li>
            <li><strong>Work 2:</strong> β-amyloid Detection in Light Sheet Scans (Distributed lightsheet scan image data processing)</li>
        </ul>
        <h3>Coursework</h3>
        <ul>
            <li><strong>Project 1:</strong> QR Code Scavenge in Android (Android app development with Agile practices)</li>
            <li><strong>Project 2:</strong> Gazprea Compiler (Compiler implementation)</li>
            <li><strong>Project 3:</strong> Running ORB-SLAM Algorithm on Robot Car (Real-time image processing with robotics)</li>
        </ul>
    </main>
{% endblock %}
